
h1
{
color : #67a878 ;
text-align :center;
font-family: 'Gemunu Libre', sans-serif;
font-size: 60px;
text-decoration: underline;
}

table,th,td
{
border : 1px solid;
width : 500px;
height : 30px;
text-align :center;
}

